<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">FindJob</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Việc làm</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Công ty</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Tạo CV</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<!--      <button *ngIf="!checkLogin" class="btn btn-outline-success" routerLink="login" style="margin-left: 10px" type="submit">Login</button>-->
<!--      <button *ngIf="!checkLogin" class="btn btn-outline-success" routerLink="register-company" style="margin-left: 10px;" type="submit">Register</button>-->
<!--      <button *ngIf="checkLogin" class="btn btn-outline-success" routerLink="detail-company" style="margin-left: 10px;" type="submit">{{name}}</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->



<!-- Header Area -->
<header class="header-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-sm-0">
        <div class="logo">
          <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="col-lg-8 col-sm-8 text-right pr-0">
        <div class="header-content-right">
          <ul class="header-contact">
            <li><a href="tel:+1123456789"><i class="bx bxs-phone-call"></i> +1 123 456 789</a></li>
            <li><a href="mailto:hello@paso.com"><i class="bx bxs-envelope"></i> hello@paso.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 text-right pl-0">
        <div class="header-content-right">
          <ul class="header-social">
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"> <i class="bx bxs-envelope"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"> <i class="bx bxl-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->

<!--Navbar Area -->
<div class="navbar-area">
  <div class="mobile-nav">
    <a href="index.html" class="logo">
      <img src="assets/images/logo.png" alt="logo">
    </a>
  </div>

  <div class="main-nav"  style="background: #051242">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav text-left">
            <li class="nav-item">
              <a *ngIf="checkRole == 'COMPANY'" routerLink="list-recruitmentnew-company" class="nav-link dropdown-toggle active">Trang chủ</a>
              <a *ngIf="checkRole == 'USER'" routerLink="list-recruitmentnew-company" class="nav-link dropdown-toggle active">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">Việc làm</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">Solutions</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="solutions.html" class="nav-link">Solutions</a>
                </li>
                <li class="nav-item">
                  <a href="solutions-details.html" class="nav-link">Solutions Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">Tạo CV</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="case.html" class="nav-link">Case Studies</a>
                </li>
                <li class="nav-item">
                  <a href="case-details.html" class="nav-link">Case Studies Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="blog-details.html" class="nav-link">Blog Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="team.html" class="nav-link">Team</a>
                </li>
                <li class="nav-item">
                  <a href="pricing.html" class="nav-link">Pricing</a>
                </li>
                <li class="nav-item">
                  <a href="gallery.html" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                  <a href="testimonials.html" class="nav-link">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a href="singnup.html" class="nav-link">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a href="signin.html" class="nav-link">Sign In</a>
                </li>
                <li class="nav-item">
                  <a href="404.html" class="nav-link">Error 404</a>
                </li>
                <li class="nav-item">
                  <a href="faq.html" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="terms-condition.html" class="nav-link">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                  <a href="privecy.html" class="nav-link">Privacy Policy</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact </a>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <form>
            <div class="input-group">
              <input type="text" class="form-control search" placeholder="Search...">
            </div>
            <button type="submit">
              <i class="bx bx-search"></i>
            </button>
          </form>
        </div>
        <div *ngIf="!checkLogin">
            <a routerLink="/login" class="box-btn">Đăng nhập</a>
        </div>
        <div *ngIf="checkLogin" class="nav-btn dropdown">
          <button class="btn btn-secondary dropdown-toggle" style="background: #007bff" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Công ty {{name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="detail-company">Quản lý hồ sơ</a></li>
            <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
            <li><a class="dropdown-item" (click)="logOut()">Đăng xuất</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
