<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-12">
            <mat-card style="margin: 50px 0">
                <div style="display: flex; justify-content: space-between">
                    <h1>Chi tiết sách</h1>
<!--                    <button mat-raised-button color="accent" (click)="back()" color="accent">Xem danh sách</button>-->
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto commodi debitis dignissimos doloribus ea eum facere ipsa laudantium libero magnam modi molestias nisi quaerat ratione reprehenderit, sit vero voluptatum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto commodi debitis dignissimos doloribus ea eum facere ipsa laudantium libero magnam modi molestias nisi quaerat ratione reprehenderit, sit vero voluptatum.</p>
                <p>Mô tả:</p>

            </mat-card>
        </div>
    </div>
</div>
