<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>
                                Awesome App For Your Modern Lifestyle
                            </h1>
                            <p>
                                Never frown, even when you are sad, because you never know who is falling in love with your smile
                            </p>
                            <div class="banner-btn">
                                <a href="contact.html" class="box-btn">Contact Us</a>
                                <a href="about.html" class="box-btn border-btn">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="../../../../assets/images/home-bg-1-img.png" alt="banner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-shape">
        <div class="shape1">
            <img src="../../../../assets/images/shape/1.png" alt="shape">
        </div>
        <div class="shape2">
            <img src="../../../../assets/images/shape/2.png" alt="shape">
        </div>
        <div class="shape3">
            <img src="../../../../assets/images/shape/3.png" alt="shape">
        </div>
        <div class="shape4">
            <img src="../../../../assets/images/shape/4.png" alt="shape">
        </div>
        <div class="shape5">
            <img src="../../../../assets/images/shape/5.png" alt="shape">
        </div>
        <div class="shape6">
            <img src="../../../../assets/images/shape/6.png" alt="shape">
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- Info Area -->
<div class="info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-info">
                    <div class="info-img">
                        <img src="assets/images/info/i1.jpg" alt="info">
                    </div>
                    <div class="content">
                        <h3><i class="flaticon-info"></i> About Us</h3>
                        <div class="arrow">
                            <a href="about.html"><i class="flaticon-next-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-info">
                    <div class="info-img">
                        <img src="assets/images/info/i2.jpg" alt="info">
                    </div>
                    <div class="content">
                        <h3><i class="flaticon-support"></i> Our Vision</h3>
                        <div class="arrow">
                            <a href="#"> <i class="flaticon-next-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-info si-30">
                    <div class="info-img">
                        <img src="assets/images/info/i3.jpg" alt="info">
                    </div>
                    <div class="content">
                        <h3><i class="flaticon-goal"></i>Our Goal</h3>
                        <div class="arrow">
                            <a href="#"> <i class="flaticon-next-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Info Area -->


<div class="container">
    <div style="margin-top: 155px" class="row">
        <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
                <h3 style="font-size: 50px" class="top-c-sep">Danh sách việc làm</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <form class="career-form mb-60" #form="ngForm"
                      (ngSubmit)="ngSubmit(form)">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 my-3" >
                            <div class="input-group position-relative" style="margin-top: 10px;">
                                <input type="text" name="title" class="form-control" placeholder="Nhập vào Title" id="keywords" ngModel>
                            </div>
                        </div>

                        <mat-form-field appearance="outline" class="col-md-6 col-lg-3 my-3">
                            <mat-label>Thành phố</mat-label>
                            <select matNativeControl   ngModel name="cityId">
                                <option *ngFor="let ct of city" [value]="ct.id">{{ct.name}}</option>
                            </select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-6 col-lg-3 my-3">
                            <mat-label>Lĩnh vực</mat-label>
                            <select matNativeControl   ngModel name="fieldId">
                                <option *ngFor="let field of fields" [value]="field.id" >{{field.name}}</option>
                            </select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-6 col-lg-3 my-3">
                            <mat-label>Tên công ty</mat-label>
                            <select matNativeControl   ngModel name="companyId">
                                <option *ngFor="let com of company" [value]="com.id" >{{com.name}}</option>
                            </select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-6 col-lg-3 my-3">
                            <mat-label>Vị trí tuyển dụng</mat-label>
                            <select matNativeControl  ngModel name="vacancies">
                                <option *ngFor="let vc of vacancies" [value]="vc.id" >{{vc.name}}</option>
                            </select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-6 col-lg-3 my-3">
                            <mat-label>Thời gian làm việc</mat-label>
                            <select matNativeControl  ngModel name="workingTimeId">
                                <option *ngFor="let wt of workingTime" [value]="wt.id" >{{wt.name}}</option>
                            </select>
                        </mat-form-field>
                        <div class="col-md-6 col-lg-3 my-3">
                            <button type="submit" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit" style="margin-top: 10px;">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <div class="filter-result">
                    <div *ngFor="let rcm of recruitmentNews"
                         class="job-box d-md-flex align-items-center justify-content-between mb-30">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                <img src="{{rcm.avatar}}" alt="">
                            </div>
                            <div class="job-content">
                                <h5 class="text-center text-md-left">{{rcm.title}}</h5>
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> {{rcm.cityName}}
                                    </li>
                                    <li class="mr-md-4" *ngIf="check == true">
                                        <i class="zmdi zmdi-money mr-2"></i> {{rcm.salary}}
                                    </li>
                                    <li class="mr-md-4" *ngIf="check == false">
                                        <i class="zmdi zmdi-money mr-2"></i> Lương XXX
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-time mr-2"></i> {{rcm.workingTimeName}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button mat-stroked-button color="primary">Ứng tuyển</button>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <button mat-stroked-button color="primary" (click)="openDialogApplyNow(rcm.id)">Ứng tuyển ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="page-navigation-area">
                        <nav aria-label="Page navigation example text-center">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link page-links"  (click)="leftPage()">
                                        <i class='bx bx-chevrons-left'></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="rightPage()" >
                                        <i class='bx bx-chevrons-right'></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
<!--                <mat-paginator [pageSizeOptions]="[5,15,30,90]" [length]="totalElements"-->
<!--                               (page)="nextPage($event)"></mat-paginator>-->
            </div>
        </div>
    </div>

</div>


<!-- Testimonials -->
<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Team Members</h2>
                    <p>People Who are Behind the Achievements</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="single-testimonials">
                    <div class="testimonials-head">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-5">
                                <div class="testimonials-img">
                                    <img src="assets/images/testimonilas/111.jpg" alt="testimonials"
                                         style="width: 150px;height: 139px">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-7">
                                <div class="content">
                                    <h2>Nguyễn Tiến Long</h2>
                                    <span>Founder</span>
                                    <ul class="rate">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="testimonials-foot">
                        <p>If you don’t do wild things while you’re young, you will have nothing to smile about when
                            you’re old.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-testimonials">
                    <div class="testimonials-head">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-5">
                                <div class="testimonials-img">
                                    <img src="assets/images/testimonilas/222.jpg" alt="testimonials"
                                         style="width: 150px;height: 140px">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-7">
                                <div class="content">
                                    <h2>Đỗ Nam Khánh</h2>
                                    <span>Co-Founder</span>
                                    <ul class="rate">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="testimonials-foot">
                        <p>It’s better to cross the line and suffer the consequences than to just stare at the line for
                            the rest of your life.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-testimonials">
                    <div class="testimonials-head">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-5">
                                <div class="testimonials-img">
                                    <img src="assets/images/testimonilas/333.jpg" alt="testimonials"
                                         style="width: 150px;height: 155px">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-7">
                                <div class="content">
                                    <h2>Nguyễn Đình Lộc</h2>
                                    <span>Co-Founder</span>
                                    <ul class="rate">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="testimonials-foot">
                        <p>Learn from yesterday, live for today, hope for tomorrow. The important is to not stop
                            questioning.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-testimonials">
                    <div class="testimonials-head">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-5">
                                <div class="testimonials-img">
                                    <img src="assets/images/testimonilas/444.jpg" alt="testimonials"
                                         style="width: 150px;height: auto">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-7">
                                <div class="content">
                                    <h2>Nguyễn Văn Định</h2>
                                    <span>Co-Founder</span>
                                    <ul class="rate">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="testimonials-foot">
                        <p>Don’t cry over the past, it’s gone. Don’t stress about the future, it hasn’t arrived. Live in
                            the present and make it beautiful.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="page-navigation-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link page-links" href="#">
                                    <i class='bx bx-chevrons-left'></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class='bx bx-chevrons-right'></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

