<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0" class="text-center">
                <form class="create-category" #form="ngForm" (ngSubmit)="form.form.valid && ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Tài khoản</mat-label>
                        <input matInput placeholder="username" name="username" [(ngModel)]="data.username" #username="ngModel" required email>
                        <mat-error *ngIf="username?.hasError('required')">Không được bỏ trống</mat-error>
                        <mat-error *ngIf="username?.hasError('email')">Nhập đúng định dạng @</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Mật khẩu</mat-label>
                        <input matInput placeholder="username" name="password" [(ngModel)]="data.password" #password="ngModel" required>
                        <mat-error *ngIf="password?.hasError('required')">Không được bỏ trống</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Tên công ty</mat-label>
                        <input matInput placeholder="username" name="name" [(ngModel)]="data.name" #name="ngModel" required>
                        <mat-error *ngIf="name?.hasError('required')">Không được bỏ trống</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Mô tả</mat-label>
                        <input matInput placeholder="username" name="description" [(ngModel)]="data.description"   #description="ngModel" requiredrequired>
                        <mat-error *ngIf="description?.hasError('required')">Không được bỏ trống</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Địa chỉ</mat-label>
                        <input matInput placeholder="username" name="address" [(ngModel)]="data.address">
                        <!--            <mat-error *ngIf="form.controls.username?.errors?.required">Phải điền thông tin</mat-error>-->
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Số lượng nhân viên tuyển dụng</mat-label>
                        <input matInput placeholder="username" name="employeeQuantity" [(ngModel)]="data.employeeQuantity">
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>linkMap</mat-label>
                        <input matInput placeholder="username" name="linkMap" [(ngModel)]="data.linkMap" >
                        <!--            <mat-error *ngIf="form.controls.username?.errors?.required">Phải điền thông tin</mat-error>-->
                    </mat-form-field>
                    <br>

                    <select class="form-select text-center" name="city" [(ngModel)]="data.city" style="width: 350px; margin-left: 370px">
                        <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                    </select>
                    <br>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>phone</mat-label>
                        <input matInput placeholder="username" name="phone" [(ngModel)]="data.phone">
                        <!--            <mat-error *ngIf="form.controls.username?.errors?.required">Phải điền thông tin</mat-error>-->
                    </mat-form-field>
                    <br>
                    <app-upload-image (giveURLtoCreate)="onUpLoadAvatar($event)"></app-upload-image>

                    <button mat-raised-button color="accent">Create</button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
